<form action="/addroom" method="post">
  <input type="text" name="roomname" />
  <input type="text" name="price" />
  <textarea name="description" rows="3" cols="50"></textarea>
  <input type="submit" value="Submit" />
</form>
